@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);

:root{--blue:#007bff; --info:#17a2b8; --indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107; --green: #28a745; }


* {
	margin: 0;
	padding:0;
	box-sizing: border-box;	
	
}

body {
	background-color: #525659;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
}

h3 {
	color: var(--red)
}

p {
	text-justify: auto;
	font-size: 1.2em;
	line-height : 25px;
	text-align: justify;
}


/* Nav */

.logo {
	width: 35px;
	margin: 5px;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


/* background video - header */


.titulo_principal {
	margin: 1.5em;
	font-size: 90px;
	position: absolute;
	z-index: 250;
	background-color: rgba(26, 24, 24, 0.158);
	padding: 10px;
	color: whitesmoke;
}

.video_cat {
	position: relative;
	box-sizing: border-box;
    padding-top: 0;
	z-index: 150;
	margin: 0;
    font-family: Arial;
	font-size: 17px;
}

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;

}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}



/* Main */


.column1 h2 {
	color: var(--purple)
}

.column2 h2 {
	color: var(--info);
}

.sectionPhoto {
	border-top: 1px solid #cccccc;
    margin: 5%;
}

.dayCat img {
    width: 100%;
}

.figcaption {
    font-size: .3 em;
}

#listaDatos {
	text-align: center;
}

#listaDatos h3 {
    background: rgba(128, 128, 128, 0.521);
    color: white;
    padding: 10px;
	margin-top: 60px;
}

.lista_datos li {
	line-height : 35px;
	list-style-type: none;
	cursor: pointer;

}

.info {
	display: grid;
	grid-template-columns: 1fr 2fr;	
	grid-column-gap: 4em;	
}

.info h2{

	margin: 1em 0 5px 0;
	font-size: 30px;
}
.text p {
	padding-bottom: 25px;
	line-height : 2em;
}

.imgInfo1 img {
	max-width: 350px;
}

.botones-verdes {
	width: 100%;
	height: 48px;
	background:  rgba(128, 128, 128, 0.521);
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	border-color: #d4c9da;
}

.botones-verdes a {
	color: white;
}
  
.botones-verdes:hover {
	background-image: linear-gradient(to right, #80ddc7c0, #636391);

} 
.column2 img {
	width: 300px;
}

.column2 {
	width: 100%;	
}

.column3 {
	display: grid;
	grid-template-columns: 2fr 1fr;	
	grid-column-gap: .5em;
	margin: 25px;
}


/* Table */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 25px;
  }
  
th, td {
	text-align: center;
	padding: 16px;
}
  
th:first-child, td:first-child {
	text-align: left;
}
  
tr:nth-child(even) {
	background-color: #f2f2f2
}
  
.fa-check {
	color: green;
  }
  
.fa-remove {
	color: red;
}

.tableCat img {
	margin-top: 50px;
	width: 250px;
}


/* Carousel */

#carousel_img img {
	width: 100%;
}

#carousel img {
	max-width: 100%;
}



/* Footer */
 
.footer {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  } 
  .footer .networks i { 
	padding: 10px;
	color: black;
  }   

  .footer .networks a {
	color: black;
  }

  .footer p {
	  padding-top: 2px;
	  margin-right: 10px;
  }






@media (max-width: 768px) {

.titulo_principal {
	padding-top: 25px;
	font-size: 35px;
}

.carousel_img {
	max-width: 350px;
}


h2 {
    margin-top: 25px;
}

#listaDatos h3 {
	margin-top: 0; 
}
.button {
	display: block;
	width: 100%;
}

.imgInfo1 img {
	max-width: 320px;
}

.info { 
	display: block;
	width: 100%;
}

.column2 {
	margin: 0 0 0 0; 
}

.tableCat {
	display: none;
}

.dayCat img {
	padding: 15px;
}

#fig_dayCat {
	display: none;
}

/* footer */
  
.footer {
	align-content: center;
	text-align: center; 
}

.footer p {
	display: none;
}

.footer .networks {
	display: inline-flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	font-size: 16px;
}

.footer .networks i { 
	padding: 16px 15px 0px 15px;
	justify-content: center;
}  



}