@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);

:root{
	--blue:#007bff; 
	--info:#17a2b8; 
	--indigo:#6610f2;
	--purple:#6f42c1;
	--pink:#e83e8c;
	--red:#dc3545;
	--orange:#fd7e14;
	--yellow:#ffc107; 
	--green: #28a745; 
}


* {
	margin: 0;
	padding:0;
	box-sizing: border-box;	
	
}

body {
	background-color: #525659;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
}

h3 {
	color: var(--red);
	font-family: 'Paytone One', sans-serif;
}

p {
	text-justify: auto;
	font-size: 1.2em;
	line-height : 25px;
	text-align: justify;
}


/* Nav */

.logo {
	width: 35px;
	margin: 5px;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


/* background video - header */

.titulo_principal {
	text-shadow: 1px 1px 3px black; 
	font-family: 'Paytone One', sans-serif;
	margin: 1.5em 0 0 .5em;
	font-size: 10em;
	position: absolute;
	z-index: 250;
	color: whitesmoke;
}

.video_cat {
	position: relative;
	box-sizing: border-box;
    padding-top: 0;
	z-index: 150;
	margin: 0;
    font-family: Arial;
	font-size: 17px;

}

.myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;

}


#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}



/* Main */


.column1 h2 {
	color: var(--purple);
	font-family: 'Paytone One', sans-serif;

}

.column2 h2 {
	color: var(--info);
	font-family: 'Paytone One', sans-serif;
}

.info {
	display: grid;
	grid-template-columns: 1fr 2fr;	
	grid-column-gap: 4em;	

}

.info h2{

	margin: 1em 0 5px 0;
	font-size: 30px;
}
.text p {
	padding-bottom: 25px;
	line-height : 2em;
}

.imgInfo1 img {
	max-width: 350px;
}

.column2 img {
	width: 300px;
}

.column2 {
	width: 100%;	
}

.column3 {
	display: grid;
	grid-template-columns: 2fr 1fr;	
	grid-column-gap: .5em;
	margin: 25px;
}


/* Table */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 25px;
  }
  
th, td {
	text-align: center;
	padding: 16px;
}
  
th:first-child, td:first-child {
	text-align: left;
}
  
tr:nth-child(even) {
	background-color: #f2f2f2
}
  
.fa-check {
	color: green;
  }
  
.fa-remove {
	color: red;
}

.tableCat img {
	margin-top: 50px;
	width: 250px;
}


/* Cards */

.adopted h2 {
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	margin: 40px 0 -20px 0px;
	font-size: 4em;
}

.card-deck {
	padding: 80px;
}



/* Footer */
 
.footer {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  } 
  .footer .networks i { 
	padding: 10px;
	color: black;
  }   

  .footer .networks a {
	color: black;
  }

  .footer p {
	  padding-top: 2px;
	  margin-right: 10px;
  }

  
/* Riddle */	

  .riddle {
	font-size: 10em;
	position: absolute;
	z-index: 250;
	background-color: rgba(255, 255, 255, 0.74);
	padding: 300px 25px 300px 25px;
  }

  .riddle h2 {

	  max-width: 300px;
	  color: black;
  }
  .riddle h1 {

	font-family: 'Paytone One', sans-serif;
	color: #007bff;
  }
  



@media (max-width: 768px) {

h2 {
	margin-top: 25px;
}

.titulo_principal {
	padding-top: 25px;
	font-size: 35px;
}

.imgInfo1 img {
	max-width: 320px;
}

.info { 
	display: block;
	width: 100%;
}

.column2 {
	margin: 0 0 0 0; 
}

.tableCat {
	display: none;
}

/* Cards */

.adopted h2 {
	margin: 50px 0 20px 0;
	font-size: 2em;
}
.card-deck {
	padding: 10px;
}

/* footer */
  
.footer {
	align-content: center;
	text-align: center; 
}

.footer p {
	display: none;
}

.footer .networks {
	display: inline-flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	font-size: 16px;
}

.footer .networks i { 
	padding: 16px 15px 0px 15px;
	justify-content: center;
}  

  

/* Riddle */	

#myVideo {
	display: none;
}

.riddle {
	margin: 65px 0 0 25px; 
	padding-top: 85px;
	text-align: center;
}


}